.cat-img{
  position: relative;
}
.cat-content {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  text-align: center;
  transform: translateY(-50%);
  background: #fff;
  padding: 20px;
}
/*second section*/
.main-post, .main-about {
    border: solid 1px #ddd;
    margin-bottom: 30px;
}
.main-post p, .main-post h2{
  margin: 15px 0 10px !important;
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px !important;
  font-weight: 200;
  letter-spacing: 1px;
}
.main-post h2{
  position: relative;
}
.main-post h2:after{
  content: "";
  width: 50%;
  height: 4px;
  background-color: #25c5b7;
  display: block;
  position: absolute;
  bottom: 0;
}
.main-post a.wp-block-button__link{
  background: transparent !important;
  color: #25c5b7 !important;
  text-decoration: none;
}
.main-post a.wp-block-button__link:hover{
  background: #25c5b7 !important;
  color: #fff !important;
}
.cat-img img, .main-post img{
  width: 100%;
}
/*responsive css*/
@media screen and (min-width: 767px) and (max-width: 991px){
  .cat-sec, .post-sec{
    flex-wrap: nowrap !important;
  }
  .main-post, .cat-img{
    margin: auto 10px !important;
  }
  .cat-img h1, .main-post h2{
    font-size: 14px !important;
  }
  .cat-sec, .post-sec{
    gap: 0;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px){
  .main-post img, .cat-img img{
    width: 383px !important;
  }
}
