<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	
	<!-- wp:pattern {"slug":"travel-fse/hero-banner"} /-->
	<!-- wp:pattern {"slug":"travel-fse/popular-destination"} /-->
	<!-- wp:pattern {"slug":"travel-fse/testimonial"} /-->
	<!-- wp:pattern {"slug":"travel-fse/choose-destination"} /-->
	<!-- wp:pattern {"slug":"travel-fse/gallery"} /-->
	<!-- wp:pattern {"slug":"travel-fse/sponsers"} /-->
	<!-- wp:pattern {"slug":"travel-fse/recent-post"} /-->
	<!-- wp:pattern {"slug":"travel-fse/contact-info"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
